@import url("https://use.typekit.net/giv3ukl.css");

* {
  box-sizing: border-box;
}

body {
  background-color: #EFF2F1;
  color: black;
  font-family: alternate-gothic-no-3-d, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  margin: 0;
  /* overflow: hidden; */
}

h1 {
  text-align: center;
  margin: 20px 0 0;
  font-size: 40px;
}

h2{
  color: white;
  font-size: 35px;
  margin-top: 10px;
  margin-bottom: 20px;
}

h3{
  color: black;
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}

p {
  text-align: center;
  font-size: 24px;
}

.game-container {
  padding: 20px 30px;
  position: relative;
  margin: auto;
  height: 350px;
  width: 450px;
}

.image-container {
  position: relative;
  fill: transparent;
  stroke: black;
  stroke-width: 4px;
  stroke-linecap: round;
  height: 225px;
  width: 350px;
}

.images{
  position: absolute;
  bottom: 0;
}

.image-part {
  display: none;
}

.wrong-letters-container {
  position: absolute;
  top: 20px;
  right: 0px;
  display: flex;
  flex-direction: column;
  text-align: right;
}

.wrong-letters-container p {
  margin: 0 0 5px;
}

.wrong-letters-container span {
  font-size: 24px;
}

.word {
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.letter {
  border-bottom: 3px solid #8A3033;
  display: inline-flex;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  margin: 0 3px;
  height: 50px;
  width: 20px;
}

.endwindow-container {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  align-items:flex-start;
  justify-content: center;
}

.endwindow {
  background: #8A3033;
  border-radius: 5px;
  box-shadow: 0 15px 10px 3px rgba(0, 0, 0, 0.1);
  padding: 10px;
  text-align: center;
}

.endwindow button {
  cursor: pointer;
  background-color: #fff;
  color: #8A3033;
  border: 0;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 12px 20px;
  font-size: 16px;
  font-family: alternate-gothic-no-3-d, sans-serif;
  transition: background-color 0.2s ease-in-out;
}

.endwindow button:active {
  transform: scale(0.98);
}

.endwindow button:hover {
  background-color: black;
  color: white;
  transition: 0.2s;
}

.endwindow button:focus {
  background-color: black;
  color: white;
}

.notification-container {
  background-color: rgba(0, 0, 0, 0.8);
  color: white; 
  /* border-radius: 10px 10px 0 0;  */
  border-radius: 0 0 10px 10px;
  place-items: center;
  margin: auto; 
  height: 60px; 
  padding: 15px 20px;
  position: relative;
  transform: translateY(-200%);
  transition: transform 0.3s ease-in-out;

}

.notification-container p {
  margin: 0;
}

.notification-container.show {
  transform: translateY(0%);
}

@media screen and (max-width: 640px) {
  .game-container{
    max-width: 100vw;
  }

  .endwindow-container {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    align-items:flex-start;
    justify-content: center;
  }
  
  .endwindow {
    background: #8A3033;
    border-radius: 5px;
    box-shadow: 0 15px 10px 3px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
  }
  
  .endwindow button {
    cursor: pointer;
    background-color: #fff;
    color: #8A3033;
    border: 0;
    margin: 2vw; 
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    font-family: alternate-gothic-no-3-d, sans-serif;
  }

}
